@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

body {
    margin: 40px auto;
    width: 800px;
    max-width: 100%;
    z-index: 1;
    line-height: 1.6;
    font-size: 16px;
    background: #fffff4;
    color: #3a1616;
    padding: 0 10px;
    font-size: 18px;
    line-height: 28px;
    font-family: "Lora";
    font-weight: 500;
    /* Smooth the font a little bit, it's a
         bit too bold on retina screens */
    -webkit-font-smoothing: antialiased;
}

/* --------------------------------------------------- */
/* Make a nice input form with rounded corners and hover
 animations*/
/* --------------------------------------------------- */
input {
    padding: 10px 16px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 2px solid #dabebe;
    border-radius: 6px;
    background: #fffff4;
    color: #3a1616;
    font-size: 16px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
input:focus {
    border: 2px solid #3a1616;
}

/* --------------------------------------- */
/* The button is very similar to the input */
/* --------------------------------------- */
.button {
    background-color: #fffff4;
    border: none;
    color: black;
    /* padding: 6px 14px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* margin: 4px 2px; */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #3a1616;
    border-radius: 6px;
}
.button:hover {
    background-color: #3a1616;
    color: white;
}

/* ----------------------------------------------- */
/* Various classes for messages of different kinds */
/* ----------------------------------------------- */
.isa_info,
.isa_success,
.isa_warning,
.isa_error {
    width: 90%;
    margin: 10px 0px;
    padding: 12px;
}
.isa_info {
    color: #00529b;
    background-color: #bde5f8;
}
.isa_success {
    color: #4f8a10;
    background-color: #dff2bf;
}
.isa_warning {
    color: #9f6000;
    background-color: #feefb3;
}
.isa_error {
    color: #d8000c;
    background-color: #ffd2d2;
}

h1,
h2,
h3 {
    line-height: 1.2;
    font-family: "Lora";
    text-align: center;
}


pre.src {
    width: 100%;
    display: block;
    overflow: auto;
    z-index: 2;
    padding: 0.5em;
    margin: 0.5em 0;
    border-radius: 15px;
    border: 2px solid #dabebe;
}

img {
    width: 500px;
    max-width: 100%;
    border-radius: 12px;
    border: 2px solid #dabebe;
    text-align: center;
}

/* --------------------------------------------- */
/* Bold hover animations on links and clickables */
/* --------------------------------------------- */
a {
    cursor: pointer;
    color: #217ab7;
    line-height: inherit;
    transition: .14s;
}
a:hover {
    color: white;
    background-color: #3297d3;
}
a:visited {
    color: #43458b;
    border-color: #43458b;
}
a:visited:hover {
    color: white;
    background-color: #9251ac;
}

pre {
    font-family: "Inconsolata", monospace;
}

::selection {
    color: white;
    background: #ff4081;
}

/* make the table have rounded corners */
table {
	border-collapse: separate;
	border-radius: 12px;
	overflow: hidden;
	border-spacing: 0;
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
	background-color: transparent;
    border: 2px solid #dabebe;
    /*align text in center*/
    text-align: center;
    vertical-align: middle;

}


thead {
	background-color: #dabebe;
	color: #3a1616;
	font-weight: bold;
	padding: 10px;
	border: 1px solid #3a1616;
	text-align: center;

}

th {
	background-color: #dabebe;
	color: #3a1616;
	font-weight: bold;
	padding: 10px;
	border: 1px solid #3a1616;
    text-align: center;

}

td {

    padding: 10px;
    /*border with blend*/
    /* border: 1px dashed #3a1616; */
    border: 1px 0px solid #3a1616;
    text-align: center;
    vertical-align: middle;

}

/* First element of each td have a column span of 4 */
td:first-child {
	text-align: center;
	font-weight: bold;
    background-color: #dabebe;
    column-span: 5;
}
tr {

    background-color: #fffff4;
}
tbody {
    text-align: center;
}

tr:nth-child(odd) {
    background-color: #f4f4ff;
}

tbody tr:nth-child(even) {
    background-color: #fffff4;
}

.org-left {
    font-weight: bold;
    text-align: center;
}

tbody th {
  background-color: #36c;
  text-align: left;
}

tr:first-child {
    background-color: #dabebe;
    column-span: 5;
}


/* table of contents */
toc {
	border-collapse: separate;
	border-radius: 12px;
	overflow: hidden;
	border-spacing: 0;
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
	background-color: transparent;
	border: 2px solid #dabebe;
	/*align text in center*/
	text-align: center;
	vertical-align: middle;

}

table-of-contents {
	background-color: #dabebe;
	color: #3a1616;
	font-weight: bold;
	padding: 10px;
	border: 1px solid #3a1616;
	text-align: center;

}

li {
	padding: 10px;
	/*border with blend*/
	/* border: 1px dashed #3a1616; */
	border: 1px 0px solid #3a1616;
	text-align: center;
	vertical-align: middle;

}

/* drop down table styling */
label {
  display: block;
  margin: 0 0 3px 0;
  font-weight: bold;
  text-align: center;
}

.dropwdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
    margin: 0 0 10px 0;

      position: relative;
  max-width: 100%;
  text-align: center;
  z-index: 100000;
}



/* Stylzing from <insert website> */

.dropdown {
  max-width: 13em;
  margin: 80px auto 0;
  position: relative;
    width: 100%;
    text-align: center;
}

.dropdown-btn {
  background: #1d1f24;
  font-size: 18px;
  width: 100%;
  border: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7em 0.5em;
  border-radius: 0.5em;
    cursor: pointer;
    text-align: center;
}

.arrow {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: transform ease-in-out 0.3s;
}

.dropdown-content {
  list-style: none;
  position: absolute;
    top: 3.2em;
    z-index: 100000;
  width: 100%;
  visibility: hidden;
    overflow: hidden;
    /* margin: 30px; */
}

.dropdown-content li {
  background: #2f3238;
  border-radius: 0.5em;
  position: relative;
  left: 100%;
  transition: 0.5s;
    transition-delay: calc(60ms * var(--delay));
  /* margin: 3px; */
    
}

.dropdown-btn:focus + .dropdown-content li {
  left: 0;
}

.dropdown-btn:focus + .dropdown-content {
  visibility: visible;
}

.dropdown-btn:focus > .arrow {
  transform: rotate(180deg);
}

.dropdown-content li:hover {
  background: #1d1f24;
}

.dropdown-content li a {
  display: block;
  padding: 0.7em 0.5em;
  color: #fff;
    /* margin: 0.1em 0; */
    /* Make a gap between each element */
    border-bottom: 1px solid #dabebe;
  text-decoration: none;
}

/* base styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



/*Horizontal line between tables and weekly mileage*/
hr {
  border: 0;
  height: 3px;
  background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
    margin-bottom: 20px;
    margin-top: 10px;
}

/* .dropdown-content { */
/*   display: flex; */
/* } */

/* .column { */
/*   flex: 1; */
/* } */

/* ul { */
/*   list-style: none; */
/*   padding: 0; */
/* } */

/* li { */
/*   margin-bottom: 10px; */
/* } */



/* table { */
/*     border-collapse:separate; */

/*     border-radius:12px; */
/* } */

/* td, th { */
/*     border-left:solid black 1px; */
/*     border-top:solid black 1px; */
/* } */

/* th { */
/*     background-color: blue; */
/*     border-top: none; */
/* } */

/* td:first-child, th:first-child { */
/*      border-left: none; */
/* } */
